# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Fresh build directory
_fresh/
# npm + other dependencies
node_modules/
vendor/

exported_docs/
AI_PROJECT_SETUP_GUIDE.md
deno.lock
